extends layout

block content
  link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  div(class="container")
    div(id="gameLobby")
      div(id="menu")
        i.fa.fa-bars
        p DEFIS
        i.fa.fa-star
      img(src="/assets/logo_white.png" alt="logo")
      img(src="/assets/map.png" alt="map")
      div(class="action")
        button(type='button' id='new_game') ALEATOIRE
      script(src='/javascripts/main.js' defer=true)

    div(class="hidden" id="theGame")

      div(id="cardSelection")
        div(class="opponent")
          div(class="perso")
          div(class="points")
          div(class="cards")

        div(class="own")
          div(class="time" id="cardSelectionTimer")
          div(class="myCards" id="myCards")
          div(class="points")
          div(class="selector" id="selectCut")

      div(id="responseTime")
        div(class="card" id="myQuestion")
        div(class="responses" id="responses")
        div(class="timer" id="responseTimer")
        div(class="selector" id="responseCut")

    div(id="gameMatchmaking" class="hidden")
      div(class="spinner")

