body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.question-form {
  display: flex;
  flex-direction: column;
}

.hidden{
  display: none!important;
}

#theGame{
  background: aqua;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.opponent{
  background: antiquewhite;
  width: 100%;
  height: 150px;
}

.main{
  background: red;
  width: 100%;
  height: 150px;
}

.own{
  background: yellow;
  width: 100%;
  height: 150px;
}
